<% provide(:title, "NewTask") %>

<%= render 'shared/error_messages2' %>

<h1>タスク新規作成</h1>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= form_with(model: @task, url: user_tasks_path(@user), local: true, method: :post) do |f| %>

        <%= f.label "名称" %>
        <%= f.text_field :task_title, class: 'form-control' %>

        <%= f.label "詳細", class: "label-login" %>
        <%= f.text_area :task_details, rows: 5, class: 'form-control' %>

        <%= f.submit "新規登録", class: "btn btn-primary new-btn" %>
      <% end %>
    </div>
  </div>
</div>

